nav {
  background: var(--color-bg1);
  color: var(--color-white);
  height: 70px;
}
.wrap-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.logo {
  width: 70px;
  margin-right: 30px;
  background: var(--color-bg2);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.logo img {
  width: 100%;
  object-fit: cover;
}
.list-menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.list-menu p {
  padding: 5px 10px;
  cursor: pointer;
}

.list-menu p:hover {
  background: var(--color-bg2);
  color: var(--color-bg1);
  border-radius: 10px;
}

.wrap-search-open {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--color-bg2);
  border-radius: 15px 0 0 15px;
  padding: 8px;
  animation: open 0.1s linear;
}
@keyframes open {
  from {
    width: 15px;
  }
  to {
    width: 250px;
  }
}
.icon-search-open,
.icon-search-close {
  background: var(--color-bg2);
  width: 15px;
  padding: 9px;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-search-close {
  border-radius: 15px;
  animation: closeIcon 0.25s linear;
}
.wrap-search-open input {
  width: 100%;
  border-radius: 15px;
  border: transparent;
  background: var(--color-bg2);
  animation: open 0.1s linear;
}

.wrap-search-open input:focus {
  outline: var(--color-bg2);
}

.wrap-search-close {
  width: fit-content;
  height: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--color-bg2);
  border-radius: 15px 0 0 15px;
  padding: 8px;
  opacity: 0;
  animation: close 0.15s linear;
}
.wrap-search-close input {
  position: absolute;
  width: 0;
  right: 0;
  border-radius: 15px;
  opacity: 0;
  border: transparent;
  background: var(--color-bg2);
  animation: close 0.2s linear;
}
@keyframes close {
  from {
    width: 250px;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes closeIcon {
  from {
    border-radius: 0 15px 15px 0;
  }
  to {
    border-radius: 15px;
  }
}
.wrap-search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
